@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
     @apply px-2 py-2 rounded-lg hover:bg-gray
}
img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}
.sec{
     @apply py-1 px-4 !important
}
.par{
     @apply text-black/60
}
.container{
     @apply md:p-[4rem] p-[2rem]
}